.header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  &__logoContainer {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--logo {
      width: 100%;
      height: auto;
    }
    &--text {
      font-size: 10px;
    }
  }
}
.nav {
  width: 40%;
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &--item {
      list-style-type: none;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 15%;
  align-items: center;
  &__link {
    cursor: pointer;
    padding: 10px;
  }
  &__icon {
    width: 25px;
    margin-right: 5px;
  }
  &__cliente {
    display: flex;
    flex-direction: row-reverse;
  }
}
