<header class="header">
  <div class="header__logoContainer">
    <img
      class="header__logoContainer--logo"
      src="../../../assets/img/logo.svg"
      alt="niero records"
    />
    <p class="header__logoContainer--text">Vinyls Records</p>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      <li nav__list--item>
        <a router-link="">Vinilos</a>
      </li>
      <li nav__list--item>
        <a router-link="">Libros</a>
      </li>
      <li nav__list--item>
        <a router-link="">Merch</a>
      </li>
      <li nav__list--item>
        <a router-link="">Tech</a>
      </li>
    </ul>
  </nav>
  <section class="menu">
    <a class="menu__link" router-link="">
      <img
        class="menu__icon"
        src="../../../../assets/icons/bag.png"
        alt="carrito"
      />
    </a>
    <a class="menu__link menu__cliente" routerLink="/clienteDashboard">
      <p>Mi cuenta</p>
      <img
        class="menu__icon"
        src="../../../assets/icons/cliente.svg"
        alt="login clientes"
      />
    </a>
  </section>
</header>
