<footer class="footer">
  <section class="footer__info">
    <div class="footer__info--logoContainer">
      <img
        class="footer__info--logo"
        src="../../../assets/img/logo.svg"
        alt="logo"
      />
      <p class="footer__info--logoText">Vinyls Records</p>
    </div>
    <span class="footer__info--text"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
      accusamus accusantium.
    </span>
  </section>
  <section class="store">
    <h6 class="footer__title">Tienda</h6>
    <ul class="store__list">
      <li class="store__list--item">Vinilos</li>
      <li class="store__list--item">Libros</li>
      <li class="store__list--item">Merch</li>
      <li class="store__list--item">Tech</li>
      <li class="store__list--item">Eventos</li>
    </ul>
  </section>
  <section class="access">
    <h6 class="footer__title">Accesos</h6>
    <a class="access__link" routerLink="">Carrito</a>
    <a class="access__link" routerLink="/clienteDashboard">Acceso Clientes</a>
    <a class="access__link" routerLink="/gestor">Acceso Empleados</a>
  </section>
  <section>
    <h6 class="footer__title">Contacto</h6>
  </section>
</footer>
