@use "./styles/styles-global.scss" as s;
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: s.$font-family;
  font-optical-sizing: auto;
  font-style: normal;
}
